---

---

<p>
  <img class="tech-icon" src="/assets/icons/python.svg" alt="python" />
  <img class="tech-icon" src="/assets/icons/django.svg" alt="django" />
  <img class="tech-icon" src="/assets/icons/fastapi.svg" alt="fastapi" />
  <img class="tech-icon" src="/assets/icons/pytest.svg" alt="pytest" />
  <img class="tech-icon" src="/assets/icons/pydantic.svg" alt="pydantic" />
  <img class="tech-icon" src="/assets/icons/celery.svg" alt="celery" />
  <img class="tech-icon" src="/assets/icons/scrapy.svg" alt="scrapy" />
  <img class="tech-icon" src="/assets/icons/docker.svg" alt="docker" />
  <img class="tech-icon" src="/assets/icons/kubernetes.svg" alt="kubernetes" />
  <img class="tech-icon" src="/assets/icons/minio.svg" alt="minio" />
  <img
    class="tech-icon"
    src="/assets/icons/apachekafka.svg"
    alt="apachekafka"
  />
  <img class="tech-icon" src="/assets/icons/rabbitmq.svg" alt="rabbitmq" />
  <img class="tech-icon" src="/assets/icons/argo.svg" alt="argo" />
  <img class="tech-icon" src="/assets/icons/gnubash.svg" alt="gnubash" />
  <img class="tech-icon" src="/assets/icons/git.svg" alt="git" />
  <img class="tech-icon" src="/assets/icons/sentry.svg" alt="sentry" />
  <img class="tech-icon" src="/assets/icons/nginx.svg" alt="nginx" />
  <img class="tech-icon" src="/assets/icons/jenkins.svg" alt="jenkins" />
  <img class="tech-icon" src="/assets/icons/postgresql.svg" alt="postgresql" />
  <img class="tech-icon" src="/assets/icons/oracle.svg" alt="oracle" />
  <img class="tech-icon" src="/assets/icons/mongodb.svg" alt="mongodb" />
  <img class="tech-icon" src="/assets/icons/redis.svg" alt="redis" />
  <img class="tech-icon" src="/assets/icons/nodedotjs.svg" alt="nodedotjs" />
  <img class="tech-icon" src="/assets/icons/typescript.svg" alt="typescript" />
  <img class="tech-icon" src="/assets/icons/vuedotjs.svg" alt="vuedotjs" />
  <img class="tech-icon" src="/assets/icons/vuetify.svg" alt="vuetify" />
  <img class="tech-icon" src="/assets/icons/quasar.svg" alt="quasar" />
  <img class="tech-icon" src="/assets/icons/sass.svg" alt="sass" />
  <img class="tech-icon" src="/assets/icons/bootstrap.svg" alt="bootstrap" />
  <img class="tech-icon" src="/assets/icons/htmx.svg" alt="jquery" />
  <img class="tech-icon" src="/assets/icons/alpinedotjs.svg" alt="jquery" />
  <img class="tech-icon" src="/assets/icons/jquery.svg" alt="jquery" />
  <img class="tech-icon" src="/assets/icons/d3dotjs.svg" alt="d3" />
  <img class="tech-icon" src="/assets/icons/ubuntu.svg" alt="ubuntu" />
  <img class="tech-icon" src="/assets/icons/pycharm.svg" alt="pycharm" />
  <img
    class="tech-icon"
    src="/assets/icons/visualstudiocode.svg"
    alt="visualstudiocode"
  />
</p>

<style>
  .tech-icon {
    @apply mb-2 mx-1 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    display: unset;
  }
  p {
    @apply my-2;
  }
</style>
